In [2]:
import pandas as pd

In [4]:
bets = pd.read_csv('E0.csv')
bets = bets[['Date','HomeTeam','AwayTeam','FTR','B365H','B365A']]

In [21]:
bets = pd.read_csv('E0.csv')
bets = bets[['Date','HomeTeam','AwayTeam','FTR','B365H','B365A']]

        Date   HomeTeam     AwayTeam FTR  B365H  B365A
7   14/08/16    Arsenal    Liverpool   A   2.40   3.10
12  20/08/16  Leicester      Arsenal   D   2.88   2.50
27  27/08/16    Watford      Arsenal   A   5.00   1.73
30  10/09/16    Arsenal  Southampton   H   1.57   6.50
42  17/09/16       Hull      Arsenal   A   6.00   1.60